body {
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 150px;
    background: lightblue url("gbg.png");
    color: rgb(238, 255, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size:x-large
    
  }